.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10%;
  color: #67595e;
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar ul {
  flex: 1;
  list-style: none;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  margin: 10px 20px;
  color: rgba(103, 89, 94, 0.75);
  font-size: 15px;
  cursor: pointer;
}
ul li:hover {
  color: rgba(103, 89, 94, 1);
}

.logo {
  font-size: 25px;
  cursor: pointer;
}
.logo:hover {
  color: rgba(103, 89, 94, 0.75);
}
