.footer {
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
  color: #67595e;
  flex-wrap: wrap;
  background-color: white;
}

.footer-logo {
  font-size: 20px;
  font-weight: 600;
}

.footer ul {
  flex: 1;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}

.footer ul li {
  display: inline-block;
  margin: 0 20px;
  color: rgba(103, 89, 94, 0.75);
  font-size: 12px;
  cursor: pointer;
}

.footer-rights {
  color: rgba(103, 89, 94, 0.8);
  font-size: 12px;
  text-align: right;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: #67595e;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer ul {
    order: 1;
    margin-bottom: 10px;
  }

  .footer-rights {
    order: 2;
    text-align: center;
  }
}
