.main-container {
  background-image: linear-gradient(
    to right,
    #e8b4b8 0%,
    #e8b5b8 49%,
    #eed6d3 100%
  );
}

.main-site-container {
  min-height: 100vh;
}

.white-header {
  font-weight: 600;
  font-size: 40px;
  color: white;
  padding: 20px 10%;
  padding-top: 100px;
}
.white-button {
  font-size: 15px;
  font-weight: 500;
  color: #67595e;
  padding: 10px 30px;
  margin: 20px 7% 150px 10%;
  border-radius: 10px;
  background-color: white;
  border: none;
}

.white-button:hover {
  opacity: 80%;
}
.macro-section {
  padding: 30px 10%;
}

.tile {
  background-color: #e8b4b8;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.tiles-row a {
  text-decoration: none; /* Usuwa podkreślenie */
  color: inherit;
}
.tile p {
  font-size: 25px;
  opacity: 90%;
}

.tile:hover {
  background-color: rgba(232, 180, 184, 0.8);
}

.tile img {
  height: 140px;
  width: 140px;
  margin-bottom: 10px;
  opacity: 80%;
}

.tiles-row {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
.main-container-contact {
  display: flex;
  padding: 100px 10%;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 768px) {
  .tiles-row {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
  }

  .main-container-contact {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .white-header {
    width: 60%;
  }
  .header-wrapper {
    width: 50%;
  }
}
